<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>

<header class="header header-normal">
  <div class="topbar clearfix">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-6 col-sm-6 text-left">
          <p>
            <strong><i class="fa fa-phone"></i></strong> +90 543 123 45 67
            &nbsp;&nbsp; <strong><i class="fa fa-envelope"></i></strong>
            <a href="mailto:#">info@yoursite.com</a>
          </p>
        </div>
        <!-- end left -->
        <div class="col-md-6 col-sm-6 hidden-xs text-right">
          <div class="social">
            <a
              class="facebook"
              href="#"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Facebook"
              ><i class="fa fa-facebook"></i
            ></a>
            <a
              class="twitter"
              href="#"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Twitter"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              class="google"
              href="#"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Google Plus"
              ><i class="fa fa-google-plus"></i
            ></a>
            <a
              class="linkedin"
              href="#"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Linkedin"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a
              class="pinterest"
              href="#"
              data-tooltip="tooltip"
              data-placement="bottom"
              title="Pinterest"
              ><i class="fa fa-pinterest"></i
            ></a>
          </div>
          <!-- end social -->
        </div>
        <!-- end left -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end topbar -->

  <div class="container">
    <nav class="navbar navbar-default yamm">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo-normal">
          <a class="navbar-brand" href="index.html"
            ><img src="../../assets/images/logo-dark.png" alt=""
          /></a>
        </div>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/home">Home</a></li>
         
          <li><a (click)="Logout()" href="">Log Out</a></li>
          <li><a (click)="getVipSession()" *ngIf="user.role==='student'">VIP Session</a></li>
          <li> <div>
            <form class="form-inline pull-right" style="margin-top: 5px">
              <input type="text" class="form-control" [(ngModel)]="query" placeholder="Search" name="query" >
              <button class="btn btn-outline-success" (click)="getresult(query)" type="submit">Search</button>
           </form>
          </div></li>
          <li class="iconitem">
            <a href="#" data-toggle="modal" data-target="#login-modal"
             > </a>
          </li>
          <li class="iconitem"></li>
        </ul>
      </div>
     
    </nav>
    <!-- end navbar -->
  </div>
  <!-- end container -->
</header>
<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-lg-4 col-xl-4">
      <div class="card-box text-center">
        <img
          src="{{ user.image }}"
          class="rounded-circle avatar-xl img-thumbnail"
          alt="profile-image"
        />
        <h4 class="mb-0">{{ user.username }}</h4>
        <p class="text-muted">{{ user.role }}</p>

        <button
          type="button"
          class="btn btn-success btn-xs waves-effect mb-2 waves-light"
        >
          Follow
        </button>
        <button
          type="button"
          class="btn btn-danger btn-xs waves-effect mb-2 waves-light"
          id="msgbtn"
        >
          Message
        </button>

        <div class="text-left mt-3">
          <h4 class="font-13 text-uppercase">About Me :</h4>
          <p class="text-muted font-13 mb-3">
            {{ user.about }}
          </p>
          <p class="text-muted mb-2 font-13">
            <strong>Full Name :</strong>
            <span class="ml-2"> {{ user.firstName }} {{ user.lastName }}</span>
          </p>

          <p class="text-muted mb-1 font-13">
            <strong>Role :</strong> <span class="ml-2"> {{ user.role }}</span>
          </p>

          <p class="text-muted mb-2 font-13">
            <strong>Mobile :</strong
            ><span class="ml-2"> {{ user.mobile }}</span>
          </p>

          <p class="text-muted mb-2 font-13">
            <strong>Email :</strong> <span class="ml-2"> {{ user.email }}</span>
          </p>

          <p class="text-muted mb-1 font-13">
            <strong>Location :</strong>
            <span class="ml-2"> {{ user.location }}</span>
          </p>
        </div>

        <ul class="social-list list-inline mt-3 mb-0">
          <li class="list-inline-item">
            <a
              href="https://{{ user.social.facebook }}"
              class="social-list-item border-purple text-purple"
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://{{ user.social.linkedin }}"
              class="social-list-item border-danger text-danger"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://{{ user.social.twitter }}"
              class="social-list-item border-info text-info"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://{{ user.social.github }}"
              class="social-list-item border-secondary text-secondary"
              ><i class="fab fa-github"></i
            ></a>
          </li>
        </ul>
      </div>
      <!-- end card-box -->
    </div>
    <!-- end col-->

    <div class="col-lg-8 col-xl-8">
      <div class="card-box">
        <ul class="nav nav-pills navtab-bg">
          <li
            class="nav-item"
            [style.background-color]="update ? 'white' : '#1abc9c'"
          >
            <a
              id="aboutme"
              aria-expanded="true"
              class="nav-link ml-0 active"
              (click)="changeView(false)"
            >
              <i class="mdi mdi-face-profile mr-1"></i>About Me
            </a>
          </li>
          <li
            class="nav-item"
            [style.background-color]="!update ? 'white' : '#1abc9c'"
          >
            <a
              id="update"
              aria-expanded="false"
              class="nav-link"
              (click)="changeView(true)"
            >
              <i class="mdi mdi-settings-outline mr-1"></i>Update Profile
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane show active" id="about-me">
            <div *ngIf="!update">
              <h5 class="mb-4 text-uppercase">
                <i class="mdi mdi-briefcase mr-1"></i> Experience
              </h5>

              <ul class="list-unstyled timeline-sm">
                <h5 *ngIf="!user.experience.length">
                  You have no registered experience yet,
                  <a (click)="addExperience = true" style="cursor: pointer"
                    >click here to add</a
                  >
                </h5>
                <li class="timeline-sm-item" *ngFor="let x of experiences">
                  <span class="timeline-sm-date">{{ x.date }}</span>
                  <h5 class="mt-0 mb-1">{{ x.title }}</h5>
                  <p class="text-muted mt-2">
                    {{ x.description }}
                  </p>
                  <br />
                  <i
                    class="fa fa-trash"
                    (click)="deleteExp(x.id)"
                    style="cursor: pointer; font-size: 23px"
                  >
                  </i>
                </li>
              </ul>
              <br /><br />
              <div *ngIf="addExperience">
                <h5 class="mb-3 text-uppercase bg-light p-2">
                  <i class="mdi mdi-account-circle mr-1"></i> Add Experience
                </h5>
                <form #f="ngForm" (ngSubmit)="addExp(f.form.value)">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input
                          ngModel
                          type="text"
                          name="title"
                          type="text"
                          class="form-control"
                          id="firstname"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="date">Date</label>
                        <input
                          ngModel
                          name="date"
                          type="date"
                          class="form-control"
                          id="lastname"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="description" id="expdesclabel"
                            >Description</label
                          >
                          <textarea
                            ngModel
                            name="description"
                            class="form-control"
                            id="expdesc"
                            rows="4"
                          ></textarea>
                        </div>
                        <button
                          type="submit"
                          class="btn btn-success waves-effect waves-light mt-2"
                          id="addexpbtn"
                        >
                          Add</button
                        ><button
                          type="button"
                          (click)="addExperience = false"
                          class="btn btn-success waves-effect waves-light mt-2"
                          style="background-color: gray"
                        >
                          Hide
                        </button>
                      </div>
                      <!-- end col -->
                    </div>
                  </div>
                </form>
              </div>
              <br /><br />
              <button
                class="btn btn-success waves-effect waves-light mt-2"
                *ngIf="!addExperience && user.experience.length"
                (click)="addExperience = true"
              >
                Click To Add Experiences
              </button>
            </div>

            <!-- end timeline content-->

            <div class="tab-pane" id="settings" *ngIf="update">
              <label for="file">Profile Picture</label>
              <div class="file-input">
                <input
                  type="file"
                  accept="image/png, image/jpeg"
                  id="file"
                  class="file"
                  #img
                  (change)="onChange(img)"
                />
                <label for="file">Select file</label>
                <button
                  class="btn btn-success waves-effect waves-light mt-2"
                  id="imguploadbtn"
                  (click)="updateImage()"
                >
                  Update Image
                </button>
                <p *ngIf="imgSelectErr" style="color: red">
                  Please select an image
                </p>
                {{ image }}
              </div>
              <form
                #f="ngForm"
                (ngSubmit)="updateProfile(user._id, f.form.value)"
              >
                <h5 class="mb-3 text-uppercase bg-light p-2">
                  <i class="mdi mdi-account-circle mr-1"></i> Personal Info
                </h5>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input
                        ngModel="{{ user.firstName }}"
                        type="hidden"
                        name="firstName"
                        type="text"
                        class="form-control"
                        id="firstname"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Last Name</label>
                      <input
                        ngModel="{{ user.lastName }}"
                        name="lastName"
                        type="text"
                        class="form-control"
                        id="lastname"
                      />
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="location">Location</label>
                      <input
                        ngModel="{{ user.location }}"
                        name="location"
                        type="text"
                        class="form-control"
                        id="location"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="mobile">Mobile</label>
                      <input
                        ngModel="{{ user.mobile }}"
                        name="mobile"
                        type="text"
                        class="form-control"
                        id="mobile"
                      />
                    </div>
                  </div>
                  <!-- end col -->
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="userbio">About</label>
                      <textarea
                        ngModel="{{ user.about }}"
                        name="about"
                        class="form-control"
                        id="userbio"
                        rows="4"
                      ></textarea>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-text text-muted"
                        ><small
                          >If you want to change email please
                          <a href="javascript: void(0);">click</a> here.</small
                        ></span
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-text text-muted"
                        ><small
                          >If you want to change password please
                          <a href="javascript: void(0);">click</a> here.</small
                        ></span
                      >
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->

                <h5 class="mb-3 text-uppercase bg-light p-2">
                  <i class="mdi mdi-earth mr-1"></i> Social
                </h5>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-fb">Facebook</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-facebook-square"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-fb"
                          ngModel="{{ user.social.facebook }}"
                          name="facebook"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-tw">Twitter</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-twitter"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-tw"
                          ngModel="{{ user.social.twitter }}"
                          name="twitter"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-gh">Github</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-github"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-gh"
                          ngModel="{{ user.social.github }}"
                          name="github"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="social-lin">Linkedin</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fab fa-linkedin"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="social-lin"
                          ngModel="{{ user.social.linkedin }}"
                          name="linkedin"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row -->
                <div class="text-right">
                  <button
                    type="submit"
                    class="btn btn-success waves-effect waves-light mt-2"
                  >
                    <i class="mdi mdi-content-save"></i> Save
                  </button>
                </div>
              </form>
            </div>
            <!-- end settings content-->
          </div>
          <!-- end tab-content -->
        </div>
        <!-- end card-box-->
      </div>
      <!-- end col -->
    </div>
  </div>
</div>

<footer class="section footer noover">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="widget clearfix">
          <h3 class="widget-title">Subscribe Our Newsletter</h3>
          <div class="newsletter-widget">
            <p>
              You can opt out of our newsletters at any time.<br />
              See our <a href="#">privacy policy</a>.
            </p>
            <form class="form-inline" role="search">
              <div class="form-1">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter email here.."
                />
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </div>
            </form>
            <img
              src="../../../assets/images/payments.png"
              alt=""
              class="img-responsive"
            />
          </div>
          <!-- end newsletter -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->

      <div class="col-lg-3 col-md-3">
        <div class="widget clearfix">
          <h3 class="widget-title">Join us today</h3>
          <p>
            Would you like to earn your profits by joining our team? Join us
            without losing time.
          </p>
          <a href="#" class="readmore">Became a Teacher</a>
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->

      <div class="col-lg-3 col-md-3">
        <div class="widget clearfix">
          <h3 class="widget-title">Popular Tags</h3>
          <div class="tags-widget">
            <ul class="list-inline">
              <li><a href="#">course</a></li>
              <li><a href="#">web design</a></li>
              <li><a href="#">development</a></li>
              <li><a href="#">language</a></li>
              <li><a href="#">teacher</a></li>
              <li><a href="#">speaking</a></li>
              <li><a href="#">material</a></li>
              <li><a href="#">css3</a></li>
              <li><a href="#">html</a></li>
              <li><a href="#">learning</a></li>
            </ul>
          </div>
          <!-- end list-widget -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->

      <div class="col-lg-2 col-md-2">
        <div class="widget clearfix">
          <h3 class="widget-title">Support</h3>
          <div class="list-widget">
            <ul>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Copyrights</a></li>
              <li><a href="#">Create a Ticket</a></li>
              <li><a href="#">Pricing & Plans</a></li>
              <li><a href="#">Carrier</a></li>
              <li><a href="#">Trademark</a></li>
            </ul>
          </div>
          <!-- end list-widget -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <img id="quake" src="../../../assets/images/quake.png" />
  <!-- end container -->
</footer>